:root {
    font: 16px / 1 sans-serif;
}

html {
    height: 100%;
}

body {
    margin: 0;
    min-height: 100%;
}

.container {
    min-height: 100%;
    position: relative;
}

.navBar {
    list-style: none;
    width: 100%;
    align-content: center;
    background-color: #008080;
    opacity: 0.6;
    height: 3em;
}

.navBarList {
    margin-top: 0px;
    padding: 1rem 1rem;
}

.navBarList li {
    display: inline;
    padding: 1.5em;
    font-size: 16px;
    cursor: pointer;
}

.navBarList li:hover {
    font-size: 18px;
    cursor: pointer;
}

.navBarList li a {
    text-decoration: none;
    cursor: pointer;
    color: #fff;
}

.sidebar {
    background-color: #257e6f;
    padding: 1em;
    float: left;
    width: 20%;
    height: 100%;
}

.sidebar img {
    width: 200px;
    border: 3px dotted #fdfd96;
}

.sidebar p {
    color: #fff;
    font-size: 0.8rem;
    line-height: 1rem;
}

.mainContent {
    width: 80%;
    padding-left: 2rem;
    margin: 0 auto;
}

.mainContent li {
    list-style: none;
    width: 90%;
    margin: 0 auto;
    padding-left: 6rem;
}

.footer {
    height: 10%;
    position: absolute;
    bottom: 0;
    background-color: darkseagreen;
    width: 100%;
    align-content: center;
}
