:root {
    font: 16px / 1 sans-serif;
}

html {
    height: 100%;
}

body {
    margin: 0;
    min-height: 100%;
    width: 100vw;
}

.container {
    min-height: 100%;
    position: relative;
}

.navBar {
    list-style: none;
    width: 100%;
    align-content: center;
    background-color: #008080;
    opacity: 0.6;
    height: 3em;
}

.navBarList {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 1rem 1rem;
}

.navBarList li {
    display: inline;
    padding: 1.5em;
    font-size: 16px;
    cursor: pointer;
}

.navBarList li:hover {
    font-size: 18px;
    cursor: pointer;
}

.navBarList li a {
    text-decoration: none;
    cursor: pointer;
    color: #fff;
}

.sidebar {
    background-color: #257e6f;
    padding: 1.5rem 1rem 1rem 1rem;
    float: left;
    width: 20%;
    height: 95vh;
}

.sidebar img {
    width: 200px;
    border: 3px dotted #fdfd96;
}

.sidebar p {
    color: #fff;
    font-size: 1rem;
    line-height: 1.5rem;
}

#homeSidebarContent {
    margin: 0 auto;
}

#homeSidebarContent img {
    position: relative;
}

.mainContent {
    padding-top: 1.5em;
    padding-left: 2rem;
    margin: 0 auto;
    height: 100vh;
}

.mainContent ul {
    margin-top: 0px;
    margin-bottom: 0px;
}

.mainContent li {
    list-style: none;
    width: 90%;
    margin: 0 auto;
    padding-left: 6rem;
}

/*  css animation of text on home page */

.mainContent p {
    animation-duration: 3s;
    animation-name: slidein;
    animation-iteration-count: infinite;
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}

/* end animation */

#homeMainContent {
    /* add image to background */
    background-color: mediumspringgreen;
}

#contentListItem {
    border: 3px dashed magenta;
    color: darkcyan;
    padding: 1em;
    margin-left: 5em;
    background-color: #fff;
    opacity: 0.75;
}

#contentListItem:first-child {
    margin-top: 0px;
}

#contentListItem:hover {
    padding: 3em;
    cursor: pointer;
}

.footer {
    height: 10%;
    position: absolute;
    bottom: 0;
    background-color: darkseagreen;
    width: 100%;
    align-content: center;
}

.footer p {
    /* add background polka dot image  */
    color: #fdfd96;
    padding-left: 2rem;
}

/* Asanas page specific styles */

#asanasMainContent img {
    width: 150px;
}

#asanasMainContent {
    background-image: url('/images/mountains.jpg');
    background-size: cover;
}

#asanasMainContent ul {
    display: inline;
}

#asanasMainContent li {
    width: 36%;
}

#asanasMainContent li:first-child {
    float: left;
}

#asanasMainContent figure {
    height: 20em;
}

#asanasMainContent li:nth-child(2) {
    position: relative;
    bottom: 1em;
}

/* History page specific styles */

.historyContent {
    padding-bottom: 6em;
}

.historyContent td {
    border: 3px solid orange;
    padding: 1em 5em 1em 5rem;
}

.historyContent td:hover {
    background-color: coral !important;
    cursor: pointer;
}

.historyContent #tableRow1 td:nth-Child(even) {
    /* background-color: aquamarine; */
    background-color: #fdfd96;
}

.historyContent #tableRow1 td:nth-Child(odd) {
    /* background-color: #fdfd96; */
    background-color: aquamarine;
}

.historyContent #tableRow2 td:nth-Child(even) {
    background-color: aquamarine;
}

.historyContent #tableRow2 td:nth-Child(odd) {
    background-color: #fdfd96;
}

.historyContent #tableRow3 td:nth-Child(even) {
    /* background-color: aquamarine; */
    background-color: #fdfd96;
}

.historyContent #tableRow3 td:nth-Child(odd) {
    /* background-color: #fdfd96; */
    background-color: aquamarine;
}
