:root {
    font: 16px / 1 sans-serif;
}

html {
    height: 100%;
}

body {
    margin: 0;
    min-height: 100%;
    width: 100vw;
}

.container {
    min-height: 100%;
    position: relative;
}

.navBar {
    list-style: none;
    width: 100%;
    align-content: center;
    background-color: #008080;
    opacity: 0.6;
    height: 3em;
}

.navBarList {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 1rem 1rem;
}

.navBarList li {
    display: inline;
    padding: 1.5em;
    font-size: 16px;
    cursor: pointer;
}

.navBarList li:hover {
    font-size: 18px;
    cursor: pointer;
}

.navBarList li a {
    text-decoration: none;
    cursor: pointer;
    color: #fff;
}

.sidebar {
    background-color: #257e6f;
    padding: 1em;
    float: left;
    width: 20%;
    height: 100vh;
}

.sidebar img {
    width: 200px;
    border: 3px dotted #fdfd96;
}

.sidebar p {
    color: #fff;
    font-size: 0.8rem;
    line-height: 1rem;
}

#homeSidebarContent {
    margin: 0 auto;
}

#homeSidebarContent img {
    position: relative;
    right: 1em;
}

.mainContent {
    padding-left: 2rem;
    margin: 0 auto;
    height: 100vh;
}

.mainContent ul {
    margin-top: 0px;
    margin-bottom: 0px;
}

.mainContent li {
    list-style: none;
    width: 90%;
    margin: 0 auto;
    padding-left: 6rem;
}

#homeMainContent {
    /* add image to background */
    background-color: mediumspringgreen;
}

#contentListItem {
    border: 3px dashed magenta;
    color: darkcyan;
    padding: 1em;
    margin-left: 5em;
}

.footer {
    height: 10%;
    position: absolute;
    bottom: 0;
    background-color: darkseagreen;
    width: 100%;
    align-content: center;
}

#homeFooter {
    /* add background polka dot image  */
}
